.menu_all {
    /* display:none; */
    background:#fff;
    position:fixed;
    padding:50px 40px 45px 40px;
    /* border:1px solid #000; */
    z-index:999;
    width:260px;
    float:left;
    height:100%;
    display:flex;
    flex-flow:column nowrap;
    justify-content: space-between;

}
.menu_all .top {
    padding-bottom:100px;
}
.menu_all .top h1 {}
.menu_all .top h1 a {}
.menu_all .top h1 a img {}
.menu_all .top .rogin {
    /* margin-top:20px; */
}
.menu_all .top .rogin a {
    display:flex;
    align-items:center;
}
.menu_all .top .rogin a img {
    padding-right:15px;
}
.menu_all.top .rogin a p  {
    font-size:1rem;
}
/*-------------------------------------------*/
.menu_all .menu {
    display:flex;
    flex-flow:column nowrap;
    letter-spacing:-0.2px;
}
.menu_all .menu a {
    /* padding-bottom:40px; */
    font-size:1.333rem;
    font-weight:700;
}
.menu_all .menu a:nth-child(1) {padding-bottom:20px;}
.menu_all .menu a:nth-child(2) {
    width:100%;
    border-top:2px solid #ccc;
    padding:20px 0;
    /* background:red; */
}
.menu_all .menu a:nth-child(3) {
    width:100%;
    border-top:2px solid #ccc;
    border-bottom:2px solid #ccc;
    padding:20px 0;
}
.menu_all .menu a:nth-child(4) {
    padding:20px 0 50px 0;
}
.menu_all .menu .now {}
.menu_all .menu .now #now_btn  {
    /* border:1px solid #000; */
    background:#FF0000;
    
    border-radius:5px;
    padding:15px 20px;
    margin:0 0 100px 0;
}
.menu_all .menu .now #now_btn:hover {
    box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.20);
}
.menu_all .menu .now #now_btn p {
    font-size:1.333rem;
    font-weight:700;
    color:#fff;
}
/*------------------------------------------------*/
.menu_all .bottom {
    /* padding-top:100px; */
    display:flex;
    flex-flow:column nowrap;
}
.menu_all .bottom .chat {}
.menu_all .bottom .chat a {
    display:flex;
    align-items:center;
}
.menu_all .bottom .chat a img {
    padding-right:15px;
}
.menu_all .bottom .chat a p {
    font-size:1rem;
}
.menu_all .bottom .service {
    padding:20px 0;
}
.menu_all .bottom .service a {
    display:flex;
    align-items:center;
}
.menu_all .bottom .service a img {
    padding-right:15px;
}
.menu_all .bottom .service a p {
    font-size:1rem;
}
.menu_all .bottom .study {}
.menu_all .bottom .study a {
    display:flex;
    align-items:center;
}
.menu_all .bottom .study a img {
    padding-right:15px;
}
.menu_all .bottom .study a p {
    font-size:1rem;
}
.menu_all .rogin {
    padding-top:100px;
    text-align: center;
}
.menu_all .rogin a {
    margin-right:10px;
    font-size:0.75rem;
    font-weight:500;
}
.menu_all .rogin a:hover {
    padding-bottom:5px;
    border-bottom:1px solid #000;
}
.menu_all .rogin a:last-child{margin-right:0;}