body,html {min-width:1920px;}
.menu_all {border-right:1px solid #aaa;}
table,th,td {
    /* border:1px solid black; */
    border-bottom:1px solid #aaa;
    border-top:1px solid #aaa;
}
th {
    border-right:1px solid #aaa;
}
body{}
/*----------------------------------------------------------main--------------------------*/
.step {
    display:flex;
    align-items: center;
    justify-content: center;
    margin:100px 0 100px 0;
}
.step .step1 {
    background:url(../imges/giv/step1_on.png) no-repeat;
    background-size:cover;
    width:276px; height:89px;
    padding:20px 0;
    text-align: center;
}
.step .step1 h1 {
    margin-bottom:10px;
    font-size:1.125rem;
    color:#fff;
}
.step .step1 p {
    font-size:1.125rem;
    color:#fff;
    font-weight: 700;
}
/*-*/
.step .step2 {
    margin-left:-30px;
    width:270px; height:89px;
    background:url(../imges/giv/step2_off.png) no-repeat;
    background-size:cover;
    padding:20px 10px;
    text-align:center;
}
.step .step2 h1 {
    margin-bottom:10px;
    font-size:1.125rem;
}
.step .step2 p {
    font-size:1.125rem;
}
/*---------------------------------------*/
main {
    width:1440px;margin:0 auto;
    display:flex;
    flex-flow:column nowrap;
    align-items: center;
    margin-bottom:100px;
}
.top_line {margin-bottom:50px;}
.top_line span {
    display:block;
    background:#aaa;
    width:1069px;
    height:1px;
}
.choice_give {}
.choice_give form {}
.choice_give form fieldset {}
.choice_give form fieldset > h1 {
    font-size:1.777rem;
    margin-bottom:20px
}
.choice_give form fieldset .choice {}
.choice_give form fieldset .choice select {
    width:172px;
    height:50px;
    font-size:1.125rem;
    font-weight: 700;
    border:1px solid #aaa;
    padding: 0 10px;
}
.choice_give form fieldset .choice select option {
    font-size:1.125rem;
}
.choice_give form fieldset .giv_con {}
.choice_give form fieldset .giv_con .top {
    /* background:lightcoral; */
    width:1070px;
    margin:50px 0 27px 0;
}
.choice_give form fieldset .giv_con .top h1 {
    font-size:1.777rem;
}
.choice_give form fieldset .giv_con .small p {
    display:flex;
    justify-content: flex-end;
    font-size:1rem;
    padding-top:26px;
    margin-bottom:5px;
}
.choice_give form fieldset .giv_con .small p span {color:#ff0000;}
/*---------------------------------*/
.choice_give form fieldset table {}
.choice_give form fieldset table tbody {}
.choice_give form fieldset table tbody tr {}
.choice_give form fieldset table tbody tr th {
    width:320px; height:78px;
    font-size: 1.125rem;
    padding-left:20px;
    font-weight: 700;
}
.choice_give form fieldset table tbody tr th span {
    color:#ff0000;
    font-size: 1.125rem;
    font-weight: 700;
}
.choice_give form fieldset table tbody tr td {
    width:749px; height:78px;
    padding-left:20px;
}
.choice_give form fieldset table tbody tr td label {
    padding-right:20px;
    font-size:1rem; 
}
.choice_give form fieldset table tbody tr td label #money {
    appearance: none;
}
.choice_give form fieldset table tbody tr td label span {
    background:url(../imges/giv/round_off.png)no-repeat;
    background-position:left;
    padding-left:30px;
}
.choice_give form fieldset table tbody tr td label #money:checked+span {
    background:url(../imges/giv/round_on.png) no-repeat;
    background-position:left;
    padding-left:30px;
}
.choice_give form fieldset table tbody tr td #name {
    width:192px;
    height:50px;
    border:1px solid #aaa;
    padding-left:20px;
}
.choice_give form fieldset table tbody tr td #birth1 {
    width:200px; height:50px;
    border:1px solid #aaa;
    padding-left:20px;
}
.choice_give form fieldset table tbody tr td #birth2 {
    border:1px solid #aaa;
    width:50px; height:50px;
    padding-left:20px;
}
.choice_give form fieldset table tbody tr td .small_txt {
    font-size:0.75rem;
}
.choice_give form fieldset table tbody tr td #phone {
    width:192px;
    height:50px;
    border:1px solid #aaa;
    padding-left:20px;
}
.choice_give form fieldset table tbody tr td .check {
    /* display:none; */
    cursor:pointer;
}
.choice_give form fieldset table tbody tr td input[type=checkbox] {
    display:none;
}
.choice_give form fieldset table tbody tr td input[type=checkbox]:checked+span{
    background:url(../imges/giv/check_on.png)no-repeat;
    background-position:left;
    cursor:pointer;
}
.choice_give form fieldset table tbody tr td .check span {
    background:url(../imges/giv/check_off.png)no-repeat;
    background-position:left;
}
/* .choice_give form fieldset table tbody tr td .check:checked+span {
    background:url(../imges/giv/check_on.png)no-repeat;
    background-position:left;
} */

/*---------------------------------------------------------------------------------*/
.giv_bottom {
    margin:50px 0 20px 0 ;
    width:1069px;
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
}
.giv_bottom .line {
    width:1069px;
    border:1px solid #ff0000;
    padding:20px 20px;
}
.giv_bottom .line .announ {width:769px;}
.giv_bottom .line .announ h3 {
    font-size:1.125rem;
    font-weight: 600;
    margin-bottom:5px;
}
.giv_bottom .line .announ > p {
    line-height:30px;
    font-size:1rem;
    font-weight: 500;
    letter-spacing:-0.2px;
}
.giv_bottom .line .announ p span {
    font-size:1.125rem;
    font-weight: 600;
}
.giv_bottom .announ_bt {
    display:flex;
    justify-content: space-between;
    margin-top:20px;
}
.giv_bottom .announ_bt .txt {}
.giv_bottom .announ_bt .txt p {
    font-size:1rem;
    font-weight: 600;
    margin-bottom:5px;
}
.giv_bottom .announ_bt .txt p span {
    font-size:1rem;
    
}
.giv_bottom .announ_bt .an_bt {}
.giv_bottom .announ_bt .an_bt #announ_btn:hover {
    box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.20);
}
.giv_bottom .announ_bt .an_bt #announ_btn {
    background:#ff0000;
    /* background: none; */

    padding:10px 10px;
}
.giv_bottom .announ_bt .an_bt #announ_btn img {
    margin-right:10px;
} 
.giv_bottom .announ_bt .an_bt #announ_btn > a {
    font-size:1.125rem;
    font-weight: 700;
    color:#fff;
}


